{# 
 # Template de gestion des genres de jeux
 #
 # Affichage de la liste des genres avec Doctrine ORM
 #}
{% extends "base.html.twig" %}

{% block central %}
    <div class="col-sm-8">
        <section class="panel">
            {# En-tête du panneau #}
            <div class="chat-room-head">
                <h3><i class="fa fa-angle-right"></i> Gérer les genres</h3>
            </div>

            <div class="panel-body">
                <div class="alert alert-info">
                    <h4>{{ controller_name }}</h4>
                    <p>Menu actif : {{ menuActif }}</p>
                    <p>Ce contrôleur utilise Doctrine ORM pour gérer les genres.</p>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="{{ path('app_genre_creer') }}" class="btn btn-primary">
                            <i class="fa fa-plus"></i> Créer un nouveau genre
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

